#rotate {
  -webkit-transform: rotate(20deg);
}

#skew {
  -webkit-transform: skewX(20deg);
}

#all {
  -webkit-transform: rotate(20deg) skew(20deg, 10deg) translate(400px, -180px) scale(0.5, 0.5);
}

